@inject IHostEnvironment Env

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @{
        var baseHref = Env.IsDevelopment() ? "/" : "/doctor-who-ratings/";
    }
    <base href="@baseHref" />
    <link rel="stylesheet" href="styles/normalize.css" />
    <link rel="stylesheet" href="styles/app.css" />
    <link rel="stylesheet" href="styles/apexcharts-overrides.css" />
    <link rel="stylesheet" href="DoctorWhoRatings.WebClient.styles.css" />
    <script src="scripts/overlay.js"></script>
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <div id="background">
        <div id="background2"></div>
    </div>
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)"></Routes>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
