.missing-episodes {
    margin-top: 5px;
}

.missing-episodes-context {
    margin-top: 4px;
}

.share {
    margin-top: -1px;
}

.highlighted-value {
    font-family: segoe-bold, sans-serif;
    color: #505050;
}
