.page-container {
    margin: 24px;
}

.title-block {
    margin-bottom: 24px;
}

.title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: Segoe WebFont Light, sans-serif;
    font-weight: bold;
}

.chart-container {
    height: 560px;
    background: #f0f0f0;
    color: #000000;
    border-radius: 5px;
    padding: 16px;
    filter: drop-shadow(0 8px 8px rgba(0,0,0,0.4));
    font-family: Helvetica, Arial, sans-serif;
}

.options-container {
    background: #f0f0f0;
    color: #000000;
    border-radius: 5px;
    margin: 12px 0 24px 0;
    filter: drop-shadow(0 8px 8px rgba(0,0,0,0.4));
}

.options {
    display: inline-block;
    padding: 8px 32px;
}

.radio {
    vertical-align: middle;
    margin-top: -0.1rem;
}

.checkbox {
    vertical-align: middle;
    margin-top: -0.1rem;
}

input,
label {
    cursor: pointer;
}
