<div class="ratings-position-section">
    <ChartTooltipIconBlock IconUrl="images/high-low.svg"
                           IconAlt="Rating position">
        <div>
            <span class="highlighted-value">@Formatter.FormatPosition(Position, false)</span>
            <span class="ratings-type">@SelectRatingType()</span>
        </div>
    </ChartTooltipIconBlock>
</div>

@code {
    [Parameter]
    public int? Position { get; set; }

    [Parameter]
    public bool IsHighestRatings { get; set; }

    [Parameter]
    public bool IsLowestRatings { get; set; }

    private string SelectRatingType()
    {
        var text = IsHighestRatings
            ? "Highest episode ratings" 
            : IsLowestRatings 
                ? "Lowest episode ratings" 
                : string.Empty;

        if (Position > 1)
        {
            text = text.ToLower();
        }

        return text;
    }
}
