.hours-watched {
    margin-top: -1px;
}

    .hours-watched > .hours:not(:first-of-type) {
        margin-top: 5px;
    }

.hours-watched-target {
    margin-bottom: -11px;
}

.highlighted-value {
    font-family: segoe-bold, sans-serif;
    color: #505050;
}
