@if (Note != null)
{
    <div class="note-section">
        <ChartTooltipBreak />

        <ChartTooltipIconSection IconUrl="images/note.svg"
                                 IconAlt="Note">
            <div>@Formatter.FormatNote(Note)</div>
        </ChartTooltipIconSection>
    </div>
}

@code {
    [Parameter]
    public string? Note { get; set; }
}
