.icon-block {
    display: flex;
}

.icon {
    filter: invert(48%) sepia(2%) saturate(9%) hue-rotate(331deg) brightness(90%) contrast(91%);
}

.regular {
    height: 16px;
    width: 16px;
    margin: 0 12px 0 0;
}

.small {
    height: 12px;
    width: 12px;
    margin: 3px 12px 0 2px;
}
