.icon-block {
    display: flex;
}

.icon {
    height: 16px;
    width: 16px;
    filter: invert(48%) sepia(2%) saturate(9%) hue-rotate(331deg) brightness(90%) contrast(91%);
    margin: 0 12px 0 0;
}

