h2 {
    text-transform: uppercase;
    font-family: segoe-light, sans-serif;
    font-size: 0.7rem;
    font-weight: normal;
    margin: 0;
    padding: 13px 0 0 16px;
}

.ratings-target {
    margin-bottom: -11px;
}

.ratings {
    margin-top: -1px;
}

.ratings > .rating:not(:first-of-type) {
    margin-top: 5px;
}

.highlighted-value {
    font-family: segoe-bold, sans-serif;
    color: #505050;
}