.chart-link {
    border: 2px solid #909090;
    border-radius: 6px;
    color: #ffffff;
    backdrop-filter: blur(19px);
}

    .chart-link:hover {
        box-shadow: 0 8px 8px #00000066;
    }

        .chart-link:hover .inner-text {
            margin-left: 8px;
            transition: margin-left 0.3s;
        }

.chart-link-header {
    padding: 9px 12px;
    background-color: #1A2A4580;
    border-radius: 4px 4px 0 0;
}

.chart-link-icon {
    width: 20px;
    height: 20px;
}

.chart-link-title {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: segoe-light, sans-serif;
    line-height: 1.2rem;
    margin-left: 8px;
}

.chart-link-description {
    background-color: #243A6480;
    font-size: 0.85rem;
    border-radius: 0 0 4px 4px;
    padding: 6px 12px 7px 12px;
}

.inner-text {
    display: flex;
    transition: margin-left 0.3s;
}
