.chart-link {
    border: 2px solid #909090;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 16px;
}

.chart-link:hover {
    filter: drop-shadow(0 8px 8px rgba(0,0,0,0.4));
}

.chart-link-header {
    display: flex;
    padding: 8px 12px;
    background-color: #1A2A45;
}

.chart-link-icon {
    width: 20px;
    height: 20px;
}

.chart-link-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Segoe WebFont Light, sans-serif;
    line-height: 1.2rem;
    margin-left: 8px;
}

.chart-link-description {
    background-color: #243A64;
    font-size: 0.8rem;
    border-radius: 0 0 3px 3px;
    padding: 6px 12px;
}