<NavLink href="@Url" Match="NavLinkMatch.All">
    <div class="chart-link">
        <div class="chart-link-header">
            <img class="chart-link-icon" src="@IconUrl" alt="Chart" />
            <div class="chart-link-title">@Title</div>
        </div>
        <div class="chart-link-description">@Description</div>
    </div>
</NavLink>

@code {
    [Parameter]
    public string Url { get; set; } = string.Empty;

    [Parameter]
    public string IconUrl { get; set; } = string.Empty;

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Description { get; set; } = string.Empty;
}
