header {
    margin-top: 20px;
    margin-bottom: 36px;
}

main {
    position: relative;
    z-index: 1;
    margin: 1rem 4rem;
}

.title-doctor-who {
    padding-right: 0.8rem;
    font-size: 5rem;
    font-weight: bold;
}

.title-ratings {
    top: 0.07rem;
    color: white;
    font-size: 3.7rem;
    font-family: segoe-light, sans-serif;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    list-style-type: none;
    padding: 0;
}

    .nav-links li {
        box-sizing: border-box;
    }

nav ul {
    list-style: none;
    margin-top: 32px;
    padding-left: 6px;
}

    nav ul li {
        width: calc(50% - 14px);
        min-width: 540px;
    }

footer {
    margin: 32px 0 0 8px;
}

    footer a {
        color: #ffffff;
        text-shadow: 0 0 4px #000;
    }

        footer a:hover {
            text-decoration: underline;
        }
