.tooltip {
    border-radius: 5px;
    color: #707070;
    background-color: #ffffff;
}

.block {
    padding: 12px 16px;
}

.icon-block {
    display: flex;
}

.break {
    border-bottom: 1px solid #c0c0c0;
}

.actor {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-family: segoe-bold, sans-serif;
    font-weight: bold;
    color: #507dd7;
}

.episodes {
    margin-top: 3px;
}

.episode-hours {
    margin-top: 1px;
}

.calculation-method {
    text-transform: uppercase;
}

.icon {
    height: 16px;
    width: 16px;
    filter: invert(48%) sepia(2%) saturate(9%) hue-rotate(331deg) brightness(90%) contrast(91%);
    margin: 1px 12px 0 0;
}

.highlighted-value {
    font-weight: bold;
    color: #505050;
}

.line-space {
    margin-top: 5px;
}
