.year-section {
    padding: 12px 16px;
}

.year {
    text-transform: uppercase;
    font-family: segoe-bold, sans-serif;
    font-size: 0.8rem;
    color: #507dd7;
}

.highlighted-value {
    font-family: segoe-bold, sans-serif;
    color: #505050;
}