﻿.chart {
    position: relative;
    z-index: 1;
    height: 500px;
    background: #ffffffca;
    backdrop-filter: blur(19px);
    color: #000000;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 16px;
    filter: drop-shadow(0 8px 8px rgba(0,0,0,0.4));
}

body.full-screen-on .chart {
    height: unset;
    flex-grow: 1;
}