section {
    position: relative;
    z-index: 1;
    height: 500px;
    background: #f0f0f0;
    color: #000000;
    border-radius: 5px;
    padding: 16px;
    filter: drop-shadow(0 8px 8px rgba(0,0,0,0.4));
}
