@typeparam T

<input id="@Id" type="radio" name="@Group" @bind="Value" @bind:after="OnAfterValueChanged" checked="@Value?.Equals(CheckedValue)" />

@if (!string.IsNullOrWhiteSpace(Label))
{
    <label for="@Id">@Label</label>
}

@code {
    [Parameter]
    public required string Id { get; set; }

    [Parameter]
    public required string Group { get; set; }

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public T? CheckedValue { get; set; }

    [Parameter]
    public T? Value { get; set; }

    [Parameter]
    public EventCallback<T> ValueChanged { get; set; }

    [Parameter]
    public EventCallback AfterValueChanged { get; set; }

    protected override void OnInitialized()
    {
        Label ??= CheckedValue?.ToString() ?? string.Empty;

        base.OnInitialized();
    }

    private async Task OnAfterValueChanged()
    {
        await ValueChanged.InvokeAsync(CheckedValue);
        await AfterValueChanged.InvokeAsync();
    }
}