<section>
    <h2>@Title</h2>
    <p class="description">@Description</p>
</section>

@code {
    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required string Description { get; set; }
}
