@inject IJSRuntime JsRuntime;

<nav class="nav-bar">
    <NavLink href="" Match="NavLinkMatch.All">
        <div class="nav-item">Home</div>
    </NavLink>
    
    <div class="nav-fill"></div>

    @if (ShowFullScreenAction)
    {
        <div class="nav-action icon" title="Full Screen" @onclick="() => InvokeAsync(FullScreenAsync)"></div>
    }
</nav>

@code {
    private bool ShowFullScreenAction { get; set; }

    private async Task FullScreenAsync()
    {
        await JsRuntime.InvokeVoidAsync("Browser.enterFullScreen");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) 
    {
        if (firstRender)
        {
            ShowFullScreenAction = await JsRuntime.InvokeAsync<bool>("Browser.hasFullScreenZone");
            
            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}