<ChartTooltip>
    <div class="year-section">
        <div class="year">@DataPoint.Year</div>
    </div>
    
    <ChartTooltipBreak />
    
    <ChartTooltipIconSecion IconUrl="images/people.svg"
                            IconAlt="Population">
        <div>
            <span class="highlighted-value">@Formatter.FormatNumber(DataPoint.Population)</span>
            <span> people</span>
        </div>
    </ChartTooltipIconSecion>
    
    <ChartTooltipNoteSection Note="@DataPoint.Note" />
</ChartTooltip>

@code {
    [Parameter]
    public required PopulationByYearDataPoint DataPoint { get; set; }
}
