.card {
    background: #ffffffca;
    backdrop-filter: blur(19px);
    box-shadow: 0 8px 8px #00000066;
    border: 1px solid #ffffff;
    border-radius: 6px;
    padding: 36px 0 54px 0;
    margin: 0 auto;
    min-width: fit-content;
    max-width: fit-content;
}

.timeline {
    position: relative;
    width: 640px;
    display: grid;
    grid-template-columns: 0.74fr 66px 1fr;
    margin: 0 auto;
}

.timeline-item {
    display: contents;
}

.marker {
    grid-column: 2 / 3;
    width: 20px;
    height: 20px;
    border: 2px solid #000000;
    border-radius: 50%;
    background-color: #ffb080;
    justify-self: center;
    z-index: 1;
}

.line {
    position: absolute;
    top: 22px;
    left: calc(((100% - 66px) * (74 / 174)) + 33px - 1px);
    width: 2px;
    height: 100%;
    background-color: #808080;
}

.date {
    grid-column: 1 / 2;
    font-family: segoe-regular, sans-serif;
    font-size: 1.2rem;
    color: #505050;
    justify-self: end;
    margin-top: 1px;
}

.doctor {
    grid-column: 3 / 4;
    font-family: segoe-light, sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #000000;
}

.actor {
    grid-column: 3 / 4;
    font-family: segoe-bold, sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #507dd7;
}

.episodes {
    grid-column: 3 / 4;
    font-family: segoe-regular, sans-serif;
    font-size: 1rem;
    margin: 2px 0 28px 0;
    color: #ff5700;
}
