.icon-block {
    display: flex;
    color: #ffffff;
    background-color: #00000060;
    border-radius: 6px;
    margin: 24px 0;
    padding: 8px 0 9px 0;
    backdrop-filter: blur(19px);
    box-shadow: 0 8px 8px #00000066;
    border: 1px solid #00000088;
}

.icon {
    height: 16px;
    width: 16px;
    margin: 2px 12px 0 24px;
}

::deep a,
::deep a:focus,
::deep a:visited {
    color: #ffffff;
    font-style: italic;
    text-decoration: underline;
}

    ::deep a:hover {
        font-weight: bold;
    }
