@using DoctorWhoRatings.WebClient.Components.Pages
@inherits LayoutComponentBase

@Body

<Copyright />

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
