@page "/"

<PageTitle>Doctor Who Ratings</PageTitle>

<div class="title">
    <span class="title-doctor-who">Doctor Who</span>
    <span class="title-ratings">RATINGS</span>
</div>

<div class="tardis-image"></div>

