@page "/sources"

<PageTitle>Sources and Methodology - Doctor Who Ratings</PageTitle>

<section class="constrain-width">
    <h1>Methodology</h1>
    <p>
        Ratings data has been obtained through two primary sources, Wikipedia, and Doctor Who TV.
        In order to be as consistent as possible, Wikipedia has been used as the primary source, and Doctor Who TV
        as a secondary source, only used when data is unavailable, or for episodes currently being aired.
    </p>
    <p>
        Wikipedia supplies a single rating for each episode on two listings pages, Classic Who and New Who. In addition to this,
        if you follow each episode link, where appropriate, additional breakdowns are included. Occasionally, the values on
        these two pages don't match, so in these cases, the value from the listing page is used, and the discrepancy noted.
        This note is available on the "All Episodes" chart only. All ratings are shown in millions, and to two decimal places only.
    </p>
    <p>
        The following definitions are used:
        <ul>
            <li>
                <strong>Overnight</strong>: Those who watched the episode as broadcast, or recorded and watched the same day
                the episode aired. Shown as "Overnight viewers"
            </li>
            <li>
                <strong>Consolidated</strong>: Those who watched as broadcast, via iPayer, or other catch-up services, over a
                seven-day period from the day the episode aired.
                Shown as "Viewers after seven days" or "Additional viewers after seven days" when shown as the difference
                between the consolidated figure and the overnight figure. <br/>
                N.B. These figures are known as +7 (TV only), and only available from 2005 onwards
            </li>
            <li>
                <strong>Extended</strong>: Those who watched via any viewing method, on any device, including tablets and
                phones, over a seven-day period from the day the episode aired.
                Shown as "Viewers after seven days on all devices" or "Additional viewers on all devices" when shown as the difference between the extended
                figure and the consolidated figure. <br />
                N.B. These figures are known as +7 (TV + 4-screen) and only available from 2014 onwards.
            </li>
        </ul>
    </p>
    <p>
        Because catch-up services, such as iPlayer, were not available for the Classic series, comparisons can be a matter
        of debate. Strictly speaking, only overnight ratings can be used on a like-for-like basis, i.e. who was interested
        enough to sit down and watch as it aired. Other figures may include repeat watching, which wouldn't have been an
        option for the Classic run. However, because catch-up services are now so prevalent, it's impossible to know whether
        someone would have watched it as broadcast, were these services not available.
        Generally, the consolidated figures are considered to be the final viewing figures for an episode, so this is probably
        the best for comparison purposes, i.e. Classic Who overnights vs New Who consolidated.
        In order to be fair, all three values are displayed, so you can choose for yourself what comparison method to use.
    </p>
    <p>
        In addition to multiple ratings, the UK population has changed since 1963. In theory, as the population increases,
        you would expect the ratings for newer episodes to increase proportionally as there are more people able to watch.
        To compensate for this, ratings are also available relative to the UK's current population.
        Shown as "Population adjusted"
    </p>
    <p>
        All episode runtimes are taken from BBC iPlayer. Missing episodes, for William Hartnell and Patrick Troughton,
        are all estimated at 25 minutes.
    </p>
    <p>
        Only UK ratings are used.
    </p>
    <p>
        Only includes official TV based Doctor Who. Does not include other sources such as the Peter Cushing movies or 
        Big Finish audio adventures.
    </p>
</section>

<section class="constrain-width">
    <h1>Sources</h1>
    <p>All data has been sourced from the following websites:</p>
    
    <div class="website-references">
        <h2>Wikipedia</h2>
        <ul>
            <li>
                <a href="https://en.wikipedia.org/" target="_blank">Home Page</a>
            </li>
            <li>
                <a href="https://en.wikipedia.org/wiki/List_of_Doctor_Who_episodes_(2005%E2%80%93present)" target="_blank">Seasons Listings Page</a>
            </li>
            <li>
                <a href="https://en.wikipedia.org/wiki/An_Unearthly_Child" target="_blank">Episode Details Page (for example "An Unearthly Child")</a>
            </li>
        </ul>
    </div>

    <div class="website-references">
        <h2>Doctor Who TV</h2>
        <ul>
            <li>
                <a href="https://www.doctorwhotv.co.uk/" target="_blank">Home Page</a>
            </li>
            <li>
                <a href="https://www.doctorwhotv.co.uk/uk-doctor-who-ratings-2024-101452.htm" target="_blank">Ratings Page (for example 2024 Ratings)</a>
            </li>
        </ul>
    </div>

    <div class="website-references">
        <h2>BBC iPlayer</h2>
        <ul>
            <li>
                <a href="https://www.bbc.co.uk/iplayer" target="_blank">Home Page</a>
            </li>
            <li>
                <a href="https://www.bbc.co.uk/iplayer/episodes/p0ggwr8l/doctor-who-19631996" target="_blank">Episode Guide (for example William Hartnell Season 1)</a>
            </li>
        </ul>
    </div>

    <div class="website-references">
        <h2>Office of National Statistics</h2>
        <ul>
            <li>
                <a href="https://www.ons.gov.uk" target="_blank">Home Page</a>
            </li>
            <li>
                <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/articles/overviewoftheukpopulation/2020" target="_blank">UK Population</a>
            </li>
        </ul>
    </div>
    
    <div class="website-references">
        <h2>Doctor Who Quotes</h2>
        <ul>
            <li>
                <a href="https://www.deviantart.com/doctorwhoquotes" target="_blank">Home Page</a>
            </li>
            <li>
                <a href="https://www.deviantart.com/doctorwhoquotes/art/Cloud-Tardis-455641932" target="_blank">Tardis Background Image</a>
            </li>
        </ul>
    </div>

    <div class="website-references">
        <h2>Russell Mason</h2>
        <ul>
            <li>
                <a href="http://russellmason.com" target="_blank">Home Page</a>
            </li>
            <li>
                <a href="http://russellmason.com/doctor-who-ratings/data/DoctorWhoRatings.xlsx" target="_blank">Doctor Who Ratings Excel Spreadsheet</a>
            </li>
        </ul>
    </div>
</section>

<section class="constrain-width">
    <h1>Disclaimer</h1>
    <p>
        All data is provided in good faith, with every effort made to be as accurate as possible.
    </p>
    <p>
        There may be some discrepancies due to rounding errors.
    </p>
</section>
