section {
    margin: 0 auto 24px auto;
    line-height: 1.5rem;
    background: #ffffffca;
    backdrop-filter: blur(19px);
    box-shadow: 0 8px 8px #00000066;
    color: #505050;
    padding: 12px 54px;
    border: 1px solid #ffffff;
    border-radius: 6px;
}

    section:nth-child(n+2) {
        margin-top: 32px;
    }

    section h1 {
        text-transform: uppercase;
        font-family: segoe-light, sans-serif;
        font-size: 1.3rem;
        font-weight: normal;
        margin: 0.9rem 0 1.2rem 0;
        color: #000000;
    }

    section.constrain-width {
        max-width: 80ch;
    }

.website-references {
    margin-top: 24px;
}

    .website-references h2 {
        text-transform: uppercase;
        font-family: segoe-light, sans-serif;
        font-size: 1rem;
        font-weight: normal;
        margin-bottom: 6px;
        color: #000000;
    }

    .website-references ul {
        margin-top: 6px;
    }

a {
    color: #505050;
}

    a:hover {
        text-decoration: underline;
    }
