div.apexcharts-tooltip {
    filter: drop-shadow(0 8px 8px rgba(0,0,0,0.4));
}

    div.apexcharts-tooltip.apexcharts-theme-light {
        border: 0;
        background-color: transparent;
    }

div.apexcharts-legend.apx-legend-position-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

    div.apexcharts-legend.apx-legend-position-right > div.apexcharts-legend-series {
        margin: 0 !important;
    }
