div.apexcharts-tooltip {
    box-shadow: 0 8px 8px #00000066;
}

    div.apexcharts-tooltip.apexcharts-theme-light {
        border: 0;
        background-color: transparent;
    }

div.apexcharts-legend.apx-legend-position-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

    div.apexcharts-legend.apx-legend-position-right > div.apexcharts-legend-series {
        margin: 0 !important;
    }

body.shift-on .chart.drill-down .apexcharts-bar-area,
body.shift-on .chart.drill-down .apexcharts-series-markers {
    cursor: pointer;
}

.apexcharts-bar-area[selected="true"],
.apexcharts-series-markers path[selected="true"] {
    filter: brightness(0.8);
}
